<div class="container">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
	<% if @posts == [] %>
    	<p>Create new post</p>
	<% else %>
    <% @posts.each do |post| %>
    <p><%= image_tag post.image.url %><br></p>
    <p><%=link_to post.user.profile.nickname, profiles_path%></p>
    <p>Title:  <%= post.title%><br/></p>
   		<%end%>
	<%end%>
      </div>
     	 <div class="col-4"></div>
     </div>
</div>
  
