<div class="container">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
	<% if @posts == [] %>
    	<p>Create new post</p>
	<% else %>
    <% @posts.each do |post| %>
    <p><%= image_tag post.image.url(:medium)%><br></p>
    <p><%=link_to post.user.profile.nickname, profiles_path%></p>
    <p><i> <%= post.title%></i><br/></p>
    <%if%>
      <%current_user.id == post.user.id%>
      <%= link_to "Delete post", posts_path(post.user.id), method: :delete%>
    <%end%>
   		<%end%>
	<%end%>
      </div>
     	 <div class="col-4"></div>
     </div>
</div>
  
